<launch>
    <include file="$(find rm_driver)/launch/dataCollect.launch"/>

    <arg name="datapath" default="/home/arm_hao/ros_yh/src/datacollect/data"/>
    <arg name="exp_id" default="02"/>
    
    <node pkg="datacollect" type="arm_data.py" name="master_arm_data" output="screen">
        <param name="arm_namespace" value="master_arm"/>
        <param name="data_path" value="$(arg datapath)"/>
        <param name="exp_id" value="$(arg exp_id)"/>
    </node>
    <node pkg="datacollect" type="arm_data.py" name="slave_arm_data" output="screen">
        <param name="arm_namespace" value="slave_arm"/>
        <param name="data_path" value="$(arg datapath)"/>
        <param name="exp_id" value="$(arg exp_id)"/>
    </node>
    <!-- <node pkg="datacollect" type="camera.py" name="camera_data" output="screen">
        <param name="data_path" value="$(arg datapath)"/>
        <param name="exp_id" value="$(arg exp_id)"/>
    </node> -->
</launch>